<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.dao.GrowthRecordMapper">

    <select id="listGrowRecord" resultType="growthRecord">
        select *
        from t_growth_record
        where farmer_name = #{farmer_name}
        order by inspection_date desc
    </select>
</mapper>
